{% extends "base.html" %}

{% block body %}
<p>The TrustIt Labs team is developing an open-source solution for analyzing news websites’ overall credibility (quality
and trustworthiness), to support media researchers and better inform consumer news choices.</p>
<br>
<p>
<p>Follow <a href="/progress">our progress</a> and <a href="/register">sign up for updates</a>!</p>
<br>
<p>
	<a href="http://testkitchen.colorado.edu/"><img id="kitchenLogo" class="smallBadge" src="/static/img/kitchen.png" alt="Digital Media Test Kitchen"></a>
	<a href="http://colorado.edu/"><img id="cuLogo" class="smallBadge" src="/static/img/culogo.png" alt="University of Colorado at Boulder"></a>
</b>
{% endblock %}