{% extends "base.html" %}

{% block body %}
<table id="peopleDescription" border="0px">
	<tr>
		<td class="peopleImageCell"><img class="smallBadge" src="/static/img/steve.png"></td>
		<td>
			<h3><span class="firstName">Steve</span><span class="lastName">Outing</span></h3>
			<span class="personDescription">Online media thought leader and founder / director of the Digital Media Test Kitchen. <a href="http://steveouting.com/">Steve's website</a></span>
		</td>
	</tr>

	<tr>
		<td class="peopleImageCell"><img class="smallBadge" src="/static/img/olga.png"></td>
		<td>
			<h3><span class="firstName">Olga<span class="lastName">Kharitonova</span></h3>
			<span class="personDescription">Multi-disciplinary media design researcher focused on human-computer interaction and its capacity to democratize access to information. <a href="http://olyak.com/">Olga's website</a></span>
		</td>
	</tr>

	<tr>
		<td class="peopleImageCell"><img class="smallBadge" src="/static/img/sam.png"></td>
		<td>
			<h3><span class="firstName">Sam<span class="lastName">Pottinger</span></h3>
			<span class="personDescription">Computer science researcher with an emphasis on software engineering, human centered computing, and cross-disciplinary studies. <a href="http://gleap.org">Sam's website</a></span>
		</td>
	</tr>
</table>
{% endblock %}