{% extends "base.html" %}

{% block body %}
<p>TrustIt Labs is a new initiative that is developing a collaborative solution, called TrustIt,
to adderss the serious and challenging problem of identifying credible digital news sources, a resource which will serve
media researchers and digital-news consumers. TrustIt addresses the disturbing way that digital-media
consumers currently are being led to news. The massive growth of social-media services — especially
Facebook (800M users) and Twitter (200M users) — has resulted in “social reputation” or “social
attention” often being why a person is led to read a news article or view a video news report, even if the
source (i.e., website or blog) of the content is unknown to the individual. With news consumers regularly
exposed to new sources, there is little to nothing to signal if a newly discovered news site or blog is,
overall, producing credible, quality, trustworthy content. Just because "the crowd" "Likes" a news story
in large numbers on Facebook or "retweets" it many times, for instance, doesn’t say anything about how
credible it might be, nor anything about the credibility of the source. The crowd could "Like" an article that
turns out to be bogus, for example.</p>

<p>TrustIt's mission is not to assess individual articles or other news content for credibility and its
components, quality and trustworthiness (other journalists and technologists are working on that
problem), but rather to analyze digital news sources by taking a whole-source view. The TrustIt solution
initially is being developed as a platform for use by news-credibility researchers and developers, with the
next step being development of consumer services such as a browser bookmarklet and browser plug-in
for identifying credible sources. The goal is to introduce tools that offer online and mobile consumers a
quick assessment of a source so that they can determine if its content is likely to be worth their time. For
digital news providers, TrustIt's analyses will guide them toward identifying problems with and improving
their news offerings and operations.</p>

<p>TrustIt is a cloud-based platform (with later practical services developed to serve news
consumers) that applies a rigorous and evolving set of metrics to evaluating news and information
websites’ credibility (i.e., quality and trustworthiness). Development is being overseen by the Digital
News Test Kitchen at the University of Colorado Boulder as a collaborative effort by Journalism & Mass
Communication and Computer Science. The system is being designed to give open-source developers a
flexible platform with which to create, test, and add modules with source-analysis metrics not yet included,
running from any web server in a developer's preferred programming language, to augment TrustIt's
initial analysis modules and metrics. In this scenario, the TrustIt platform will debut with a set of sourceanalysis modules developed by a small team -- original as well as leveraging existing open-API websiteanalysis tools. Consumer-oriented services and tools will launch later, basic but robust, then improve their
analytical capabilities and accuracy over time as additional, more-complex source-analysis metrics are
added to the core service's algorithms.</p>
{% endblock %}